In [38]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [39]:
df1=pd.read_csv('/home/jupyter/Ngambay-French-Neural-Machine-Translation-sba_fr_v1-/Dataset/sba_fr_CSV/bitext_sba_fr.csv')
df1.head()

,Timestamp,Email address,sba,fr
0,NaN,NaN,āɓēlə̀kó̰y lé tō nā̰y gɨ́ né-sɔ̀ tō yā̰ èĺ,"Le mois de ""septembre"" est un mois où il n'y a..."
1,12/07/2022 18:21:01,NaN,á lò ō né gɨ́-ǹ,Regarde cette chose là
2,12/07/2022 18:21:37,NaN,ɗí ɓá à ɗā-né wà?,Qu'a-t-il en faire?
3,12/07/2022 18:22:31,NaN,à ɗèē bèlè,Il viendra demain
4,12/07/2022 18:23:07,NaN,àw̄ ɗá à?,Où est-il parti?

In [40]:
df1.drop(['Timestamp', 'Email address'], axis=1, inplace=True)
df1 = df1.rename(columns={'sba': 'sw'})

In [41]:
df1.head()

,sw,fr
0,āɓēlə̀kó̰y lé tō nā̰y gɨ́ né-sɔ̀ tō yā̰ èĺ,"Le mois de ""septembre"" est un mois où il n'y a..."
1,á lò ō né gɨ́-ǹ,Regarde cette chose là
2,ɗí ɓá à ɗā-né wà?,Qu'a-t-il en faire?
3,à ɗèē bèlè,Il viendra demain
4,àw̄ ɗá à?,Où est-il parti?

In [42]:
len(df1)

1176

In [43]:
df2=pd.read_csv('/home/jupyter/Ngambay-French-Neural-Machine-Translation-sba_fr_v1-/Dataset/sba_fr_CSV/bible data.csv')
df2.head()

,ChapterID,VerseID,Content_SBA,Content_Fr
0,GEN.1,1,"1Kédé gə́ dɔtar lé, Ala unda dara gə naŋg nee tɔ.","1 Au commencement, Dieu créa les cieux et la t..."
1,GEN.1,2,"2Loo gə́ naŋg nee lé to kari ba ləm, né kára k...",2 La terre était informe et vide; il y avait d...
2,GEN.1,3,3Ala pana: Maji kar loo àr! Ndá loo àr ya tɔ .,3 Dieu dit: Que la lumière soit! Et la lumière...
3,GEN.1,4,4Ala oo to gə́ loo gə́ àr lé to maji ya! Ɓa Al...,4 Dieu vit que la lumière était bonne; et Dieu...
4,GEN.1,5,"5Loo gə́ àr lé Ala ɓaree lookàr ləm, loo gə́ t...","5 Dieu appela la lumière jour, et il appela le..."

In [44]:
df2.drop(['ChapterID', 'VerseID'], axis=1, inplace=True)
df2 = df2.rename(columns={'Content_SBA': 'sw','Content_Fr': 'fr'})

In [45]:
df2.dropna(inplace=True)

In [46]:
df2.head()

,sw,fr
0,"1Kédé gə́ dɔtar lé, Ala unda dara gə naŋg nee tɔ.","1 Au commencement, Dieu créa les cieux et la t..."
1,"2Loo gə́ naŋg nee lé to kari ba ləm, né kára k...",2 La terre était informe et vide; il y avait d...
2,3Ala pana: Maji kar loo àr! Ndá loo àr ya tɔ .,3 Dieu dit: Que la lumière soit! Et la lumière...
3,4Ala oo to gə́ loo gə́ àr lé to maji ya! Ɓa Al...,4 Dieu vit que la lumière était bonne; et Dieu...
4,"5Loo gə́ àr lé Ala ɓaree lookàr ləm, loo gə́ t...","5 Dieu appela la lumière jour, et il appela le..."

In [47]:
len(df2)

31897

In [48]:
#Merge the two dataframe
frames = [df1, df2]

df = pd.concat(frames)

In [49]:
df.head()

,sw,fr
0,āɓēlə̀kó̰y lé tō nā̰y gɨ́ né-sɔ̀ tō yā̰ èĺ,"Le mois de ""septembre"" est un mois où il n'y a..."
1,á lò ō né gɨ́-ǹ,Regarde cette chose là
2,ɗí ɓá à ɗā-né wà?,Qu'a-t-il en faire?
3,à ɗèē bèlè,Il viendra demain
4,àw̄ ɗá à?,Où est-il parti?

In [50]:
len(df)

33073

In [51]:
df.head()

,sw,fr
0,āɓēlə̀kó̰y lé tō nā̰y gɨ́ né-sɔ̀ tō yā̰ èĺ,"Le mois de ""septembre"" est un mois où il n'y a..."
1,á lò ō né gɨ́-ǹ,Regarde cette chose là
2,ɗí ɓá à ɗā-né wà?,Qu'a-t-il en faire?
3,à ɗèē bèlè,Il viendra demain
4,àw̄ ɗá à?,Où est-il parti?

## Synthetic dataset

In [52]:
df3=pd.read_csv('/home/jupyter/Ngambay-French-Neural-Machine-Translation-sba_fr_v1-/Dataset/sba_fr_CSV/output-3.csv')
df3.head()

                                           sentences
0  Il a à son actif des propositions de systèmes ...
1  En 2019, il a mis au point le Plan « OBAR » do...
2  Dans cette interview réalisée aux lendemains d...
3  Mieux, il affirme que s’il est mis en œuvre su...
4  Vous avez mis au point le Plan « OBAR » qui do...

In [53]:
df4=pd.read_csv('/home/jupyter/Ngambay-French-Neural-Machine-Translation-sba_fr_v1-/Dataset/sba_fr_CSV/sba.csv')
df4.head()

                                                 sba
0  Oiyo, mbɔl dəa ɓa ye wɔji ne gin néje gə́ kəm ...
1  Bèe ɓa, mee ndəa gə́ wɔji dɔ de gə́ d’isi kene...
2  ŋgɔl gə́ ye wɔji loo-rɔ’g lə Sotan gə́ d’wəi k...
3  ɓó lé ye ula dee pana: Ɓó lé d’a kɔm kula gə́ ...
4  Se gɔlje néndaji gə́ wɔji dɔ Obar gə́ kəm kya ...

### Concatenate the two dataframes to have our bitext synthetic data

In [54]:
result = pd.concat([df4,df3], axis=1)

In [55]:
result.head()

,sba,sentences
0,"Oiyo, mbɔl dəa ɓa ye wɔji ne gin néje gə́ kəm ...",Il a à son actif des propositions de systèmes ...
1,"Bèe ɓa, mee ndəa gə́ wɔji dɔ de gə́ d’isi kene...","En 2019, il a mis au point le Plan « OBAR » do..."
2,ŋgɔl gə́ ye wɔji loo-rɔ’g lə Sotan gə́ d’wəi k...,Dans cette interview réalisée aux lendemains d...
3,ɓó lé ye ula dee pana: Ɓó lé d’a kɔm kula gə́ ...,"Mieux, il affirme que s’il est mis en œuvre su..."
4,Se gɔlje néndaji gə́ wɔji dɔ Obar gə́ kəm kya ...,Vous avez mis au point le Plan « OBAR » qui do...

In [56]:
result = result.rename(columns={'sba': 'sw','sentences': 'fr'})

In [57]:
result.head()

,sw,fr
0,"Oiyo, mbɔl dəa ɓa ye wɔji ne gin néje gə́ kəm ...",Il a à son actif des propositions de systèmes ...
1,"Bèe ɓa, mee ndəa gə́ wɔji dɔ de gə́ d’isi kene...","En 2019, il a mis au point le Plan « OBAR » do..."
2,ŋgɔl gə́ ye wɔji loo-rɔ’g lə Sotan gə́ d’wəi k...,Dans cette interview réalisée aux lendemains d...
3,ɓó lé ye ula dee pana: Ɓó lé d’a kɔm kula gə́ ...,"Mieux, il affirme que s’il est mis en œuvre su..."
4,Se gɔlje néndaji gə́ wɔji dɔ Obar gə́ kəm kya ...,Vous avez mis au point le Plan « OBAR » qui do...

## Combine Original and Synthetic Data

In [58]:
#Merge the two dataframe
frames = [df, result]

df_final = pd.concat(frames)

In [59]:
df_final.head()

,sw,fr
0,āɓēlə̀kó̰y lé tō nā̰y gɨ́ né-sɔ̀ tō yā̰ èĺ,"Le mois de ""septembre"" est un mois où il n'y a..."
1,á lò ō né gɨ́-ǹ,Regarde cette chose là
2,ɗí ɓá à ɗā-né wà?,Qu'a-t-il en faire?
3,à ɗèē bèlè,Il viendra demain
4,àw̄ ɗá à?,Où est-il parti?

In [60]:
len(df_final)

34647

In [61]:
#we shuffle the dataframe
from sklearn.utils import shuffle
df_final = shuffle(df_final)

In [62]:
train , val = train_test_split(df_final , test_size=0.2,random_state=42)
train ,test =train_test_split(train , test_size=0.2, random_state=42)

train=train.reset_index(drop=True)
val=val.reset_index(drop=True)
test=test.reset_index(drop=True)

In [36]:
pip install jsonlines

Collecting jsonlines
  Downloading jsonlines-3.1.0-py3-none-any.whl (8.6 kB)
Requirement already satisfied: typing-extensions in /opt/conda/lib/python3.7/site-packages (from jsonlines) (3.10.0.2)
Requirement already satisfied: attrs>=19.2.0 in /opt/conda/lib/python3.7/site-packages (from jsonlines) (21.2.0)
Installing collected packages: jsonlines
Successfully installed jsonlines-3.1.0

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [63]:
import jsonlines

In [64]:
with jsonlines.open('sba_fr_train_synthetic.json', mode='w') as writer:
  for i in range(len(train)):
    writer.write({"translation":{'fr':train["fr"][i],'sw':train["sw"][i] }})

with jsonlines.open('sba_fr_val_synthetic.json', mode='w') as writer:
  for i in range(len(val)):
    writer.write({"translation":{'fr':val["fr"][i],'sw':val["sw"][i]}})

with jsonlines.open('sba_fr_test_synthetic.json', mode='w') as writer:
  for i in range(len(test)):
    writer.write({"translation":{'fr':test["fr"][i],'sw':test["sw"][i]}})

## Split test into sentences

In [ ]:
import csv

# Open the input .txt file and read the contents
with open('french.txt', 'r') as input_file:
    input_text = input_file.read()

# Split the input text into sentences
sentences = input_text.split('\n')

# Open the output .csv file and write the sentences to it
with open('output.csv', 'w', newline='') as output_file:
    writer = csv.writer(output_file)
    writer.writerow(['sentences'])  # Write the header row
    for sentence in sentences:
        writer.writerow([sentence])  # Write each sentence as a row