In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [12]:
df1=pd.read_csv('/content/bitext_sba_fr.csv')
df1.head()

,Timestamp,Email address,sba,fr
0,NaN,NaN,āɓēlə̀kó̰y lé tō nā̰y gɨ́ né-sɔ̀ tō yā̰ èĺ,"Le mois de ""septembre"" est un mois où il n'y a..."
1,12/07/2022 18:21:01,NaN,á lò ō né gɨ́-ǹ,Regarde cette chose là
2,12/07/2022 18:21:37,NaN,ɗí ɓá à ɗā-né wà?,Qu'a-t-il en faire?
3,12/07/2022 18:22:31,NaN,à ɗèē bèlè,Il viendra demain
4,12/07/2022 18:23:07,NaN,àw̄ ɗá à?,Où est-il parti?

In [13]:
df1.drop(['Timestamp', 'Email address'], axis=1, inplace=True)
df1 = df1.rename(columns={'sba': 'sw'})

In [14]:
df1.head()

,sw,fr
0,āɓēlə̀kó̰y lé tō nā̰y gɨ́ né-sɔ̀ tō yā̰ èĺ,"Le mois de ""septembre"" est un mois où il n'y a..."
1,á lò ō né gɨ́-ǹ,Regarde cette chose là
2,ɗí ɓá à ɗā-né wà?,Qu'a-t-il en faire?
3,à ɗèē bèlè,Il viendra demain
4,àw̄ ɗá à?,Où est-il parti?

In [15]:
len(df1)

1176

In [5]:
df2=pd.read_csv('/content/bible data.csv')
df2.head()

,ChapterID,VerseID,Content_SBA,Content_Fr
0,GEN.1,1,"1Kédé gə́ dɔtar lé, Ala unda dara gə naŋg nee tɔ.","1 Au commencement, Dieu créa les cieux et la t..."
1,GEN.1,2,"2Loo gə́ naŋg nee lé to kari ba ləm, né kára k...",2 La terre était informe et vide; il y avait d...
2,GEN.1,3,3Ala pana: Maji kar loo àr! Ndá loo àr ya tɔ .,3 Dieu dit: Que la lumière soit! Et la lumière...
3,GEN.1,4,4Ala oo to gə́ loo gə́ àr lé to maji ya! Ɓa Al...,4 Dieu vit que la lumière était bonne; et Dieu...
4,GEN.1,5,"5Loo gə́ àr lé Ala ɓaree lookàr ləm, loo gə́ t...","5 Dieu appela la lumière jour, et il appela le..."

In [6]:
df2.drop(['ChapterID', 'VerseID'], axis=1, inplace=True)
df2 = df2.rename(columns={'Content_SBA': 'sw','Content_Fr': 'fr'})

In [7]:
df2.dropna(inplace=True)

In [9]:
df2.head()

,sw,fr
0,"1Kédé gə́ dɔtar lé, Ala unda dara gə naŋg nee tɔ.","1 Au commencement, Dieu créa les cieux et la t..."
1,"2Loo gə́ naŋg nee lé to kari ba ləm, né kára k...",2 La terre était informe et vide; il y avait d...
2,3Ala pana: Maji kar loo àr! Ndá loo àr ya tɔ .,3 Dieu dit: Que la lumière soit! Et la lumière...
3,4Ala oo to gə́ loo gə́ àr lé to maji ya! Ɓa Al...,4 Dieu vit que la lumière était bonne; et Dieu...
4,"5Loo gə́ àr lé Ala ɓaree lookàr ləm, loo gə́ t...","5 Dieu appela la lumière jour, et il appela le..."

In [16]:
len(df2)

31897

In [17]:
#Merge the two dataframe
frames = [df1, df2]

df = pd.concat(frames)

In [18]:
df.head()

,sw,fr
0,āɓēlə̀kó̰y lé tō nā̰y gɨ́ né-sɔ̀ tō yā̰ èĺ,"Le mois de ""septembre"" est un mois où il n'y a..."
1,á lò ō né gɨ́-ǹ,Regarde cette chose là
2,ɗí ɓá à ɗā-né wà?,Qu'a-t-il en faire?
3,à ɗèē bèlè,Il viendra demain
4,àw̄ ɗá à?,Où est-il parti?

In [19]:
len(df)

33073

In [20]:
#we shuffle the dataframe
from sklearn.utils import shuffle
df = shuffle(df)

In [21]:
df.head()

,sw,fr
17070,"22Oiyo, ma m’wa dee gə məəm gə́ kwa gə mee gə́...",22 Je les hais d'une parfaite haine;Ils sont p...
14523,"14Jɔb, maji kari ur mbii gèŋ oo ne néje neelé!","14 Job, sois attentif à ces choses! Considère ..."
31299,"14Ŋgakɔmje, yeḛ gə́ pana: Neḛ n’to gə́ njeme...","14 Mes frères, que sert-il à quelqu'un de dire..."
6215,11Yee aw kəmee gə́ kédé par gə́ dəb loo gə́ dɔ...,11 Elle continuait sur le côté septentrional d...
120,15Ləb Mahalaleel aḭ rɔ-misa̰-giree-mi (65) nd...,"15 Mahalaleel, âgé de soixante-cinq ans, engen..."

In [22]:
train , val = train_test_split(df , test_size=0.2,random_state=42)
train ,test =train_test_split(train , test_size=0.2, random_state=42)

train=train.reset_index(drop=True)
val=val.reset_index(drop=True)
test=test.reset_index(drop=True)

In [23]:
pip install jsonlines

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: jsonlines in /usr/local/lib/python3.7/dist-packages (3.1.0)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from jsonlines) (22.1.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from jsonlines) (4.1.1)

In [25]:
import jsonlines

In [26]:
with jsonlines.open('sba_fr_train.json', mode='w') as writer:
  for i in range(len(train)):
    writer.write({"translation":{'fr':train["fr"][i],'sw':train["sw"][i] }})

with jsonlines.open('sba_fr_val.json', mode='w') as writer:
  for i in range(len(val)):
    writer.write({"translation":{'fr':val["fr"][i],'sw':val["sw"][i]}})

with jsonlines.open('sba_fr_test.json', mode='w') as writer:
  for i in range(len(test)):
    writer.write({"translation":{'fr':test["fr"][i],'sw':test["sw"][i]}})